body{
    background-color: dimgray;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: dimgray;
}